html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 475px;
    max-height: 475px;
}

.responsive-div {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.d3-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 640px) {
    html {
        font-size: 5px;
    }
}